* {
    margin: 0;
    padding: 0;
}

html {
    background: grey;
}
body > img:nth-child(2) {
    width: 50%;
    margin: 10px auto;
  }
body {
    display: flex;
    flex-flow: column;
}
.containes_fotos {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

  